<div class="container">
<div class="page-header">
	<h4>Edit your artwork</h4>
</div>

<%= simple_form_for @artwork, defaults: { input_html: { class: 'form-control'} } do |f| %>
  <p><%= f.input_field :title, placeholder: "Artwork Title" %></p>
  <p><%= f.input_field :description, placeholder: "Artwork description" %></p>
  <% if current_user.galleries.any? %>
  <p><%= f.input :gallery, collection: current_user.galleries, prompt: 'You can add this to one of your galleries (optional)' %></p>
  <% end %>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
</div>
