<div class="content white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href=<%= artworks_path %> class="list-group-item">All</a>
          <a href=<%= artworks_path(params.merge(recent: true)) %> class="list-group-item">Recent</a>
        </div>

      <div class="list-group">
        <a href=<%= artworks_path %> class="list-group-item">All Categories</a>
        <a href=<%= categories_path(@category.id) %> class="list-group-item active"><%= @category.name %></a>
        <% @sub_categories.each do |sub_category| %>
          <a href=<%= sub_categories_path(sub_category_id: sub_category.slug) %> class="list-group-item"><%= sub_category.name %> <span class="badge pull-right"><%= sub_category.artworks_count %></span></a>
        <% end %>
      </div>

      </div>
      <div class="col-md-7">
        <%= render 'shared/artworks' %>
      </div>
    </div>
  </div>
</div>