<div class="footer container">
  <ul class="nav">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Legal</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Developers</a></li>
    <li><a href="#">Ads</a></li>
    <li><a href="#">Sponsorship</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="row">
    <div class="col-md-6">
      <a href="https://assembly.com/artfactum" target="_blank">Crowd built with love in Assembly <%= icon 'heart-o' %></a><br>
      Copyright &copy; <%= Time.now.year %> Assembly Made, Inc. All rights reserved.
    </div>
    <div class="col-md-6 text-right">
      <ul class="nav social">
      <li><a href="#"><%= icon 'facebook' %></a></li>
      <li><a href="#"><%= icon 'twitter' %></a></li>
      <li><a href="#"><%= icon 'google-plus' %></a></li>
      <li><a href="#"><%= icon 'youtube-play' %></a></li>
      </ul>
    </div>
  </div>
</div>